<%
page.tag = ' ';
%>

<div class="container archive-body">
    <div class="row">
        <div class="col-xs-3 well">
            <div class="archive-title" >
                <h2 class="tag-icon">标签</h2>
                <ul class="archive-list">
                    <% site.tags.sort('name').each(function(item){ %>
                    <li><a data-src="<%- config.root %><%- item.path %>" href="#<%= item.name %>" title="<%= item.name %>"><%= item.name %><sup class="sup-color"><%= item.posts.length %></sup></a></li>
                    <% }); %>
                </ul>

            </div>
        </div>

        <div class="all-list-box">
        </div>
    </div>
</div>

<script>
$(function() {
    var box = $('.all-list-box');
    var first = $('.archive-title a:first-of-type');
    var list = $('.archive-title a');

    box.load(first.attr('data-src').toString() + ' #tag-list-body');
    first.addClass('currentTag');
    list.each(function() {
        $(this).click(function() {
            var listSrc = $(this).attr('data-src').toString() + ' #tag-list-body';
            box.load(listSrc);
            list.removeClass('currentTag');
            $(this).addClass('currentTag');
        });
    });
});
</script>

